html {
    margin: 0px;
    height: 100%;
    width: 100%;
    padding:0;
}

body {
    background-size: cover;
    font-family: helvetica, arial, sans-serif;
    font-size: 100%;
    padding: 0;
    margin:0;
    text-align: center;
    height: auto;
    width: auto;

}

a { 
    text-decoration: none;
}

#index{
    margin:auto;
    text-align:center;
    margin-top:50px;
}

#index h1{
    margin-bottom: 5%;
}

#index h3 {
        margin-bottom: 5%;
    }

#index button {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#studentButton {
    margin-left: 0;
}

#indexButton {
    margin-left: 5%;
}

#header {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color:#ffffff;  
}

#headerText {
    display: inline-block;
    width: 50%;
    height:100px;
}

#headerText h1{
    text-align:left;  
}

#headerButton {
    width: 30%;
    display: inline-block;
}

#headerButton button {
        background-color: #ffffff;
        border: none;
        color:black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

#aboutBody {
    width: 70%;
    margin: auto;
}

#aboutBody h4{
    line-height:30px;
}

    #aboutBody h1 {
        margin-top: 80px;
    }

#teamContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    padding-bottom: 50px;
}
    #teamContainer img{
        height:200px;
        width:200px;   
        margin-right:-100px;
    }
    #person{
        text-align:left;
    }

#assignments {
    float: left;
    width: 50%;
    height: auto;
    border: 1px solid black;
    margin-left: 60px;
    text-align: left;
    padding: 20px;
}

#menu {
    float: right;
    width: 33%;
    height: auto;
    border: 1px solid black;
    margin-right: 60px;
    text-align: left;
    padding: 20px;   
}

#assignHead {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#assignGradesStu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#assignGradesProf {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#categoriesMenu{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#adjustLetterScalingMenu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


    #assignGradesProf>div:nth-child(8n),
    #assignGradesProf>div:nth-child(8n -1)
    {
        border-bottom: 2px solid black;
    }

    #assignGradesProf > div:nth-child(8n+1),
    #assignGradesProf > div:nth-child(8n+2) {
        padding-top: 10px;
    }

    #assignGradesProf > div:nth-child(16n),
    #assignGradesProf > div:nth-child(16n -1),
    #assignGradesProf > div:nth-child(16n -2),
    #assignGradesProf > div:nth-child(16n -3),
    #assignGradesProf > div:nth-child(16n -4),
    #assignGradesProf > div:nth-child(16n -5),
    #assignGradesProf > div:nth-child(16n -6),
    #assignGradesProf > div:nth-child(16n -7){
        background-color: lightgoldenrodyellow;
    }

#assignGradesStu > div:nth-child(6n),
#assignGradesStu > div:nth-child(6n -1) {
    border-bottom: 2px solid black;
}

#assignGradesStu > div:nth-child(6n+1),
#assignGradesStu > div:nth-child(6n+2) {
    padding-top: 10px;
}

#assignGradesStu > div:nth-child(12n),
#assignGradesStu > div:nth-child(12n -1),
#assignGradesStu > div:nth-child(12n -2),
#assignGradesStu > div:nth-child(12n -3),
#assignGradesStu > div:nth-child(12n -4),
#assignGradesStu > div:nth-child(12n -5) {
    background-color: lightgoldenrodyellow;
}

    #assignName{
        float:left;
        display:inline-block;
    }

    .textRight{
    text-align:right;
    }

.gradeNumerator {
    text-align: right;
    width: 100px;
}

.highlight {
    background-color: lightgoldenrodyellow;
}

.menuItem{
    height:auto;
    padding:15px;
    border-bottom:2px solid black;
}

#mailto_field{
    text-align: center;
}

.menuButton {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    width:100%;
    display: inline-block;
    font-size: 16px;
}



.mockBox{
    display:inline-block;
    margin-top:20px;
}

.mockColor{
    background-color: lightblue;
}

#calcMock{
    margin-top:20px;
    border: 10px solid lightblue;
}

#exportCSV {
    width: 100%;
    border: 1px solid black;
    
}

#exportPDF {
    width: 100%;
    border: 1px solid black;   
}

.exportButton {
    width: 45%;
    display: inline-block;
    margin-top: 10px;
}

#pdfDiv {
    float:right;
}

#weightToggleMenu{
    display:none;
}

#unweightedGradeDiv {
    float: right;
}

#weightedGrade {
    width: 100%;
    border: 1px solid black;
}

#unweightedGrade {
    width: 100%;
    border: 1px solid black;
}

.selectedWeightButton {
    background-color: #848484;
    color: black;
    padding: 15px 32px;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}

.unselectedWeightButton {
    background-color: lightgray;
    color: black;
    padding: 15px 32px;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 16px;
}

.saveChanges {
    margin: 10px 10px 10px 0;
}

.editGrades{
    margin-right: 10px;
}

.hidden{
    display:none;
}

.notHidden{
    display:block;
}

.studentNames{
    height: 100px;
    max-height: 100px;
    overflow:hidden;
    font-size: 18px;
}

.studentGrades {
    height: 100px;
    max-height: 100px;
    overflow: auto;
    font-size: 18px;
}

.studentGrades input{
    height: 17px;
}

    .line {
    border-bottom: 1px dashed black;
    content: "";
    display: block;
}

.space {
    padding-bottom: 3px;
    content: "";
    display: block;
}

    .studentNames p{
        padding-top:2px;
    }

    .lineupText{
        font-size:20px;
    }

    .lineupInput input{
        margin-bottom:5px;
    }

#mailText {
    padding-top: 10px;
}